@charset "UTF-8";
@font-face {
  font-family: 'BeonMedium';
  src: url("../fonts/beon-webfont.eot");
  src: local("☺"), url("../fonts/beon-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/beon-webfont.woff") format("woff"), url("../fonts/beon-webfont.ttf") format("truetype"), url("../fonts/beon-webfont.svg#BeonMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url("../fonts/Lato-Bold-webfont.eot");
  src: url("../fonts/Lato-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold-webfont.woff2") format("woff2"), url("../fonts/Lato-Bold-webfont.woff") format("woff"), url("../fonts/Lato-Bold-webfont.ttf") format("truetype"), url("../fonts/Lato-Bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latolight';
  src: url("../fonts/Lato-Light-webfont.eot");
  src: url("../fonts/Lato-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light-webfont.woff2") format("woff2"), url("../fonts/Lato-Light-webfont.woff") format("woff"), url("../fonts/Lato-Light-webfont.ttf") format("truetype"), url("../fonts/Lato-Light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/Lato-Regular-webfont.eot");
  src: url("../fonts/Lato-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular-webfont.woff2") format("woff2"), url("../fonts/Lato-Regular-webfont.woff") format("woff"), url("../fonts/Lato-Regular-webfont.ttf") format("truetype"), url("../fonts/Lato-Regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, ../sass/basic_layout.scss */
body.html, html {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/* line 9, ../sass/basic_layout.scss */
.navbar.container {
  background: transparent;
  width: 100%;
  max-width: 100%;
  border: none;
  color: #fff;
}

/* line 19, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav > .active > a, #navbar.navbar-default .navbar-nav > .active > a:hover, #navbar.navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  color: #662cce;
}
/* line 24, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav > li > a:hover {
  color: #662cce;
}
/* line 28, ../sass/basic_layout.scss */
#navbar.navbar-default .name.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 35, ../sass/basic_layout.scss */
.page-container.fixed-page {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* line 42, ../sass/basic_layout.scss */
.page-container {
  min-height: calc(100vh - 305px);
  margin-bottom: 30px;
}

/* line 48, ../sass/basic_layout.scss */
.maintenance-page.in-maintenance {
  width: 100%;
  height: 100%;
  font-family: OpenSans Light, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
/* line 55, ../sass/basic_layout.scss */
.maintenance-page.in-maintenance .main-container {
  margin: 0px;
  padding: 0px;
}
/* line 58, ../sass/basic_layout.scss */
.maintenance-page.in-maintenance .main-container .intro {
  background-image: url(../images/background.jpg);
  /* Fullscreen Background Image */
  background-size: cover;
  background-position: center;
  background-color: #2a2e39;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
/* line 74, ../sass/basic_layout.scss */
.maintenance-page.in-maintenance .main-container .intro-image {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 120%;
  width: auto;
  height: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
/* line 89, ../sass/basic_layout.scss */
.maintenance-page.in-maintenance .main-container .center-content {
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 96, ../sass/basic_layout.scss */
.maintenance-page.in-maintenance .main-container .center-content .intro-content {
  display: table-cell;
  font-size: 1.15em;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  vertical-align: middle;
}
/* line 104, ../sass/basic_layout.scss */
.maintenance-page.in-maintenance .main-container .center-content .intro-content .logo {
  width: 100%;
  margin: -30px 0 25px;
}
/* line 107, ../sass/basic_layout.scss */
.maintenance-page.in-maintenance .main-container .center-content .intro-content .logo h2.text-logo {
  color: #ff9966;
  font-family: BeonMedium;
  font-weight: bold;
  font-size: 3em;
}
/* line 114, ../sass/basic_layout.scss */
.maintenance-page.in-maintenance .main-container .center-content .intro-content .intro-title {
  font-family: latobold;
  font-size: 3em;
  font-weight: normal;
  margin: 15px 0;
  text-transform: uppercase;
}
/* line 121, ../sass/basic_layout.scss */
.maintenance-page.in-maintenance .main-container .center-content .intro-content .obak {
  color: #ff9966;
}

/* line 129, ../sass/basic_layout.scss */
body.front .page-container {
  margin-bottom: 0px;
}
/* line 131, ../sass/basic_layout.scss */
body.front .page-container .main-container.container {
  width: auto;
  padding: 0px;
}
/* line 134, ../sass/basic_layout.scss */
body.front .page-container .main-container.container .slick-track, body.front .page-container .main-container.container .slick-list {
  height: 100%;
}
/* line 137, ../sass/basic_layout.scss */
body.front .page-container .main-container.container .page-header {
  display: none;
}
/* line 141, ../sass/basic_layout.scss */
body.front .page-container .main-container.container #block-system-main {
  display: none;
}
/* line 145, ../sass/basic_layout.scss */
body.front .page-container .main-container.container #block-views-view-banner-block-1 .view-id-view_banner {
  position: relative;
  overflow: hidden;
}
/* line 150, ../sass/basic_layout.scss */
body.front .page-container .main-container.container #block-views-view-banner-block-1 .views-content.slick-initialized {
  height: 100%;
  margin-bottom: 0px;
}
@media screen and (max-width: 650px) {
  /* line 155, ../sass/basic_layout.scss */
  body.front .page-container .main-container.container #block-views-view-banner-block-1 .slick-slide img {
    height: 180px;
  }
}
/* line 160, ../sass/basic_layout.scss */
body.front .page-container .main-container.container #block-views-view-banner-block-1 .slick-dots {
  background: white;
  margin: 0px;
  bottom: -25px;
}
/* line 164, ../sass/basic_layout.scss */
body.front .page-container .main-container.container #block-views-view-banner-block-1 .slick-dots li button:before {
  font-size: 10px;
}

/* line 174, ../sass/basic_layout.scss */
.node-type-webform .node-webform header {
  display: none;
}

/* line 181, ../sass/basic_layout.scss */
.page-node-add-upload-cash-slip .page-node-add-upload-cash-slip-bank .field-name-field-order-id, .page-node-add-upload-cheque .page-node-add-upload-cash-slip-bank .field-name-field-order-id, .page-node-add-upload-neft-slip .page-node-add-upload-cash-slip-bank .field-name-field-order-id {
  display: none;
}

/* line 188, ../sass/basic_layout.scss */
.page-user-orders .breadcrumb {
  display: none;
}
/* line 191, ../sass/basic_layout.scss */
.page-user-orders .page-header {
  display: none;
}
/* line 195, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header {
  margin-bottom: 30px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.07);
  padding: 10px;
}
/* line 201, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .invoice.details p {
  display: inline-block;
  width: 30%;
}
@media screen and (max-width: 767px) {
  /* line 201, ../sass/basic_layout.scss */
  .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .invoice.details p {
    display: block;
    text-align: center;
    width: 100%;
  }
}
/* line 212, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .invoice.details .tax-invoice {
  text-align: center;
}
/* line 216, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .invoice.details .gst-number {
  font-weight: bold;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  /* line 216, ../sass/basic_layout.scss */
  .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .invoice.details .gst-number {
    text-align: right;
  }
}
/* line 226, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .company-details {
  text-align: center;
  margin-bottom: 20px;
}
/* line 229, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .company-details .company-title {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 233, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .company-details .company-address, .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .company-details .company-email, .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .company-details .company-website, .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .company-details .company-number {
  display: inline-block;
  margin-left: 12px;
}
/* line 239, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .user-details, .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .bank-details, .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .order-date-time {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
@media screen and (max-width: 640px) {
  /* line 239, ../sass/basic_layout.scss */
  .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .user-details, .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .bank-details, .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .order-date-time {
    display: block;
    width: 100%;
    text-align: center;
  }
}
/* line 249, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .user-details .user-name, .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .bank-details .user-name, .page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .order-date-time .user-name {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 255, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .bank-details h5 {
  font-weight: bold;
  font-size: 18px;
}
/* line 262, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .order-date-time h4 {
  font-weight: bold;
}
/* line 265, ../sass/basic_layout.scss */
.page-user-orders .view-commerce-line-item-table.view-id-commerce_line_item_table .view-header .order-date-time p {
  font-size: 16px;
}
/* line 272, ../sass/basic_layout.scss */
.page-user-orders .bill-summary {
  font-weight: bold;
  line-height: 3rem;
}
/* line 277, ../sass/basic_layout.scss */
.page-user-orders .company-name-sign {
  text-align: right;
}
/* line 280, ../sass/basic_layout.scss */
.page-user-orders .company-name-sign .name {
  font-weight: bold;
  margin-bottom: 50px;
}
/* line 286, ../sass/basic_layout.scss */
.page-user-orders .material-received-message, .page-user-orders .computer-message {
  text-align: center;
}

/* line 293, ../sass/basic_layout.scss */
body.paytm-response-page .paytm-response {
  text-align: center;
  font-size: 14px;
}

/* line 301, ../sass/basic_layout.scss */
body.page-companies-marketing-info .view-companies-marketing-info .views-table {
  font-size: 11px;
}
/* line 304, ../sass/basic_layout.scss */
body.page-companies-marketing-info .view-companies-marketing-info .views-table tr td, body.page-companies-marketing-info .view-companies-marketing-info .views-table tr th {
  padding: 5px 2px;
  text-align: center;
}

/* line 316, ../sass/basic_layout.scss */
body.page-company-visit-data .view-company-visit-data .views-table, body.page-company-visit-data .view-show-bills .views-table, body.page-company-visit-data .view-show-incoming-data .views-table, body.page-company-visit-data .view-transactions-bosses-to-agent .views-table, body.page-company-visit-data .view-user-information .views-table, body.page-show-bills .view-company-visit-data .views-table, body.page-show-bills .view-show-bills .views-table, body.page-show-bills .view-show-incoming-data .views-table, body.page-show-bills .view-transactions-bosses-to-agent .views-table, body.page-show-bills .view-user-information .views-table, body.page-show-incoming-data .view-company-visit-data .views-table, body.page-show-incoming-data .view-show-bills .views-table, body.page-show-incoming-data .view-show-incoming-data .views-table, body.page-show-incoming-data .view-transactions-bosses-to-agent .views-table, body.page-show-incoming-data .view-user-information .views-table, body.page-transactions-by-higher-authority .view-company-visit-data .views-table, body.page-transactions-by-higher-authority .view-show-bills .views-table, body.page-transactions-by-higher-authority .view-show-incoming-data .views-table, body.page-transactions-by-higher-authority .view-transactions-bosses-to-agent .views-table, body.page-transactions-by-higher-authority .view-user-information .views-table, body.page-all-user-information .view-company-visit-data .views-table, body.page-all-user-information .view-show-bills .views-table, body.page-all-user-information .view-show-incoming-data .views-table, body.page-all-user-information .view-transactions-bosses-to-agent .views-table, body.page-all-user-information .view-user-information .views-table {
  font-size: 12px;
}
/* line 319, ../sass/basic_layout.scss */
body.page-company-visit-data .view-company-visit-data .views-table tr td, body.page-company-visit-data .view-company-visit-data .views-table tr th, body.page-company-visit-data .view-show-bills .views-table tr td, body.page-company-visit-data .view-show-bills .views-table tr th, body.page-company-visit-data .view-show-incoming-data .views-table tr td, body.page-company-visit-data .view-show-incoming-data .views-table tr th, body.page-company-visit-data .view-transactions-bosses-to-agent .views-table tr td, body.page-company-visit-data .view-transactions-bosses-to-agent .views-table tr th, body.page-company-visit-data .view-user-information .views-table tr td, body.page-company-visit-data .view-user-information .views-table tr th, body.page-show-bills .view-company-visit-data .views-table tr td, body.page-show-bills .view-company-visit-data .views-table tr th, body.page-show-bills .view-show-bills .views-table tr td, body.page-show-bills .view-show-bills .views-table tr th, body.page-show-bills .view-show-incoming-data .views-table tr td, body.page-show-bills .view-show-incoming-data .views-table tr th, body.page-show-bills .view-transactions-bosses-to-agent .views-table tr td, body.page-show-bills .view-transactions-bosses-to-agent .views-table tr th, body.page-show-bills .view-user-information .views-table tr td, body.page-show-bills .view-user-information .views-table tr th, body.page-show-incoming-data .view-company-visit-data .views-table tr td, body.page-show-incoming-data .view-company-visit-data .views-table tr th, body.page-show-incoming-data .view-show-bills .views-table tr td, body.page-show-incoming-data .view-show-bills .views-table tr th, body.page-show-incoming-data .view-show-incoming-data .views-table tr td, body.page-show-incoming-data .view-show-incoming-data .views-table tr th, body.page-show-incoming-data .view-transactions-bosses-to-agent .views-table tr td, body.page-show-incoming-data .view-transactions-bosses-to-agent .views-table tr th, body.page-show-incoming-data .view-user-information .views-table tr td, body.page-show-incoming-data .view-user-information .views-table tr th, body.page-transactions-by-higher-authority .view-company-visit-data .views-table tr td, body.page-transactions-by-higher-authority .view-company-visit-data .views-table tr th, body.page-transactions-by-higher-authority .view-show-bills .views-table tr td, body.page-transactions-by-higher-authority .view-show-bills .views-table tr th, body.page-transactions-by-higher-authority .view-show-incoming-data .views-table tr td, body.page-transactions-by-higher-authority .view-show-incoming-data .views-table tr th, body.page-transactions-by-higher-authority .view-transactions-bosses-to-agent .views-table tr td, body.page-transactions-by-higher-authority .view-transactions-bosses-to-agent .views-table tr th, body.page-transactions-by-higher-authority .view-user-information .views-table tr td, body.page-transactions-by-higher-authority .view-user-information .views-table tr th, body.page-all-user-information .view-company-visit-data .views-table tr td, body.page-all-user-information .view-company-visit-data .views-table tr th, body.page-all-user-information .view-show-bills .views-table tr td, body.page-all-user-information .view-show-bills .views-table tr th, body.page-all-user-information .view-show-incoming-data .views-table tr td, body.page-all-user-information .view-show-incoming-data .views-table tr th, body.page-all-user-information .view-transactions-bosses-to-agent .views-table tr td, body.page-all-user-information .view-transactions-bosses-to-agent .views-table tr th, body.page-all-user-information .view-user-information .views-table tr td, body.page-all-user-information .view-user-information .views-table tr th {
  padding: 8px 0px;
  text-align: center;
}

/* line 330, ../sass/basic_layout.scss */
.page-node-72 .page-header {
  margin-top: 20px;
}
/* line 334, ../sass/basic_layout.scss */
.page-node-72 .region.region-content {
  font-size: 16px;
  line-height: 3rem;
}
