/* line 3, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-field-image {
  float: left;
}
@media screen and (max-width: 480px) {
  /* line 3, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-field-image {
    float: none;
    width: 100%;
  }
}
/* line 14, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-commerce-price {
  display: inline-block;
  padding-top: 30px;
  padding-left: 50px;
  width: 50%;
}
@media screen and (max-width: 480px) {
  /* line 14, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-commerce-price {
    padding-top: 20px;
  }
}
/* line 24, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-commerce-price .field-label {
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  /* line 24, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-commerce-price .field-label {
    font-size: 18px;
  }
}
/* line 32, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-commerce-price .field-items {
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  /* line 32, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-commerce-price .field-items {
    font-size: 16px;
  }
}
/* line 41, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-field-color, .node-type-bags .node-bags .field-name-field-hsn-number, .node-type-bags .node-bags .field-name-commerce-stock, .node-type-bags .node-bags .field-name-body {
  display: inline-block;
  padding-top: 20px;
  padding-left: 50px;
  width: 50%;
}
@media screen and (max-width: 480px) {
  /* line 41, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-field-color, .node-type-bags .node-bags .field-name-field-hsn-number, .node-type-bags .node-bags .field-name-commerce-stock, .node-type-bags .node-bags .field-name-body {
    width: 100%;
  }
}
/* line 51, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-field-color .field-label, .node-type-bags .node-bags .field-name-field-hsn-number .field-label, .node-type-bags .node-bags .field-name-commerce-stock .field-label, .node-type-bags .node-bags .field-name-body .field-label {
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  /* line 51, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-field-color .field-label, .node-type-bags .node-bags .field-name-field-hsn-number .field-label, .node-type-bags .node-bags .field-name-commerce-stock .field-label, .node-type-bags .node-bags .field-name-body .field-label {
    font-size: 18px;
  }
}
/* line 59, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-field-color .field-items, .node-type-bags .node-bags .field-name-field-hsn-number .field-items, .node-type-bags .node-bags .field-name-commerce-stock .field-items, .node-type-bags .node-bags .field-name-body .field-items {
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  /* line 59, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-field-color .field-items, .node-type-bags .node-bags .field-name-field-hsn-number .field-items, .node-type-bags .node-bags .field-name-commerce-stock .field-items, .node-type-bags .node-bags .field-name-body .field-items {
    font-size: 16px;
  }
}
/* line 68, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-field-bags-reference {
  display: inline-block;
  width: 50%;
  padding-left: 50px;
}

/* line 79, ../sass/display_products.scss */
body.page-bags .main-container h1.page-header {
  border-bottom: none;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}
/* line 87, ../sass/display_products.scss */
body.page-bags .view-bags.view-id-bags .view-filters {
  margin-bottom: 40px;
}
/* line 91, ../sass/display_products.scss */
body.page-bags .view-bags.view-id-bags .view-content .views-field-field-image {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.07);
}
/* line 93, ../sass/display_products.scss */
body.page-bags .view-bags.view-id-bags .view-content .views-field-field-image a {
  padding: 10px;
}
/* line 97, ../sass/display_products.scss */
body.page-bags .view-bags.view-id-bags .view-content .views-field-title {
  margin-top: 10px;
}
/* line 100, ../sass/display_products.scss */
body.page-bags .view-bags.view-id-bags .view-content .views-field {
  text-align: center;
}
/* line 102, ../sass/display_products.scss */
body.page-bags .view-bags.view-id-bags .view-content .views-field:last-child {
  margin-bottom: 5px;
}

/* line 112, ../sass/display_products.scss */
body.page-cart .commerce-line-item-actions #edit-submit {
  display: none;
}
/* line 126, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-bags td.views-field-commerce-unit-price .commerce-price-formatted-components tr td {
  padding: 3px;
  border-top: none;
  line-height: 1;
}
/* line 134, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-bags td.views-field {
  padding: 4px 8px 0px 8px;
}
/* line 136, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-bags td.views-field .form-item input.form-control {
  height: 28px;
}
/* line 139, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-bags td.views-field .delete-line-item.btn {
  padding: 2px 8px;
}
/* line 141, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-bags td.views-field .delete-line-item.btn .glyphicon {
  top: 2px;
}
/* line 149, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-bags.even .views-field-commerce-unit-price .commerce-price-formatted-components tr:first-child {
  background: none;
}
